<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="innovadev01Entities" connectionString="metadata=res://*/Model.CarMDModel.csdl|res://*/Model.CarMDModel.ssdl|res://*/Model.CarMDModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=monetize-testing-2.cvfjsoa3o5av.us-east-1.rds.amazonaws.com;user id=Monetize;password=Y6B24st4C3dBuqj5HTtk;persistsecurityinfo=True;database=innovadev01&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>